<section class="container container-about">
    <div class="row">
        <div class="col-md-12">
            <h1>About</h1>
        </div>
        <div class="col-sm-12 col-md-6">
            <p>
                My name is Polina Koleva. I am a master student "Computer Science" at the University of Freiburg, Germany. Moreover, I have been working as Java developer for more than 3 years. This summer I will participate in Google Summer of Code 2017 working with JBoss/Red Hat community. 
            </p>
        </div>
        <div class="col-sm-12 col-md-6">
            <p>
                That's the main reason I have decided a blog is perfect way to share everything happening in the program. Hope you'll enjoy all my blog posts. Stay tuned.
            </p>
        </div>
    </div>
</section>