<footer class="container-fluid container-contacts">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1>Contacts</h1>
            </div>
            <div class="col-md-6 col-sm-12 container-contacts-phone">
                <i class="fa fa-envelope" aria-hidden="true"></i>
                <a href="mailto:{{ site.emailText }}">
                    {{ site.emailText }}
                </a>
            </div>
            <div class="col-md-6 col-sm-12 container-contacts-phone">
                <i class="fa fa-github" aria-hidden="true"></i>
                <a href="{{ site.githubLink }}">
                    {{ site.githubText }}
                </a>
            </div>
            <div class="col-md-6 col-sm-12 container-contacts-phone">
                <i class="fa fa-facebook" aria-hidden="true"></i>
                <a href="{{ site.facebookLink }}">
                    {{ site.facebookText }}
                </a>
            </div>
            <div class="col-md-6 col-sm-12 container-contacts-phone">
                <i class="fa fa-linkedin" aria-hidden="true"></i>
                <a href="{{ site.linkedinLink }}">
                    {{ site.linkedinText }}
                </a>
            </div>
        </div>
    </div>
</footer>